@import url('https://fonts.googleapis.com/css2?family=Lato&family=REM&display=swap');

/* Overall content styling */
body {
    background-size: cover;
    background-color: darkgreen;
    width: 100%;
    height: calc(100vh - 164px);
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: azure;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Styling for Title */
#main-title {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: xx-large;
}

/* Styling for the game */
.gameDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 2rem;
}

.textDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 2rem;
    text-align: center;
}

.gameText {
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.choiceBtn {
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.choiceBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Some styling for the footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 66, 16);
    color: azure;
    text-align: center;
    z-index: 9999;
}